* { margin: 0; padding: 0; }

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 70px;
    position: relative;
    right: 70px;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 400px;
    width: 800px;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.miniatura {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.miniatura img {
    height: 100px;
    width: 140px;
}



.miniatura li {
    border: 3px solid #4ADCA2;
    margin: 15px;
    padding: 0;
}

.slider li {
    border: 3px solid #993399;
}

